* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 5px 3px 0px 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;

}

.material-symbols-outlined {
    color: white;
    letter-spacing: 10px;
    width: 30px;
}

.material-symbols-outlined:hover {
    cursor: default;
}

header > #icons {
    margin-left: 280px;
    margin-top: -60px;
}

#bulsola {
    margin-top: 20px;
    padding: 0px 0px 0px 5px;
}

#bulsola:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

#button {
    margin-left: 125px;
    margin-top: -30px;
}

button {
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    font-family: arial;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
}

header button:hover {
    background-color: rgba(255, 255, 255, 0.486);
}

#tudo {
    background-color: white;
    color: black;
}


.colorido {
    background: linear-gradient(#000000, #000000)
    padding-box,
    linear-gradient(90deg,
    #30dfd3, #7d3bdf, #e827db, #c022a0, #e53434, #e36b26) border-box;
    border: 1px solid transparent;
}

.colorido:hover {
    background: linear-gradient(#0000008a, #0000008a)
    padding-box,
    linear-gradient(90deg,
    #30dfd3, #7d3bdf, #e827db, #c022a0, #e53434, #e36b26) border-box;
    border: 1px solid transparent;
}

.video {
    width: 100%;
    padding-top: 10px;
    height: 200px;
    border-radius: 0px;

}

.perfil {
    border-radius: 50%;
    height: 40px;
    padding: 5px;
}

.nome {
    font-size: 16px;
    margin-left: 60px;
    margin-top: -45px;
}

.pequeno {
    font-size: 13px;
    color: #ffffffa4;
    margin-left: 60px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.branco {
    color: white;
}

a {
    text-decoration: none;
    color: #ffffffa4;
}

#pag1 {
    display: inline-block;
}


#pag2 {
    display: none;
    transition: 500ms;
}

.short {
    width: 190px;
    height: 300px;
    border-radius: 5px;
}

h2 {
    margin-left: 40px;
    margin-top: -38px;
}

.shortimg {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 20px;
}

#short {
    margin-left: 0px;
    margin-bottom: 20px;
}

.anuncio {
    margin-left: 21px;
}

#anuncio1 {
    padding: 10px 60px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.249);
    color: #3044df;
    font-weight: bold;

}

#anuncio2 {
    padding: 10px 60px;
    border-radius: 40px;
    font-weight: bold;
    background-color: #3044df;
    color: rgba(0, 0, 0, 0.71);
}


#pergunta > div {
    border: 2px solid #fafafa5c;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

#pergunta > div > p {
    display: inline-block;
    position: relative;
    top: -40px;
    width: 0px;
}

#lateral {
    display: none;
    margin-top: 0px;
    margin-left: -5px;
    position: absolute;
    background-color: rgb(54, 54, 54);
    width: 70%;
    padding: 10px;
    overflow-y: scroll;
    height: 91vh;

}

#lateral p {
    margin-left: 37px;
    margin-top: -20px;
}

#lateral span {
    margin-top: 23px;
}

hr {
    margin: 10px 0px 10px 0px;
}



.l {
    margin-left: -6px;
}


.la {
    margin-left: 250px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.455);
    margin-bottom: -50px;
}

.la:active {
    background-color: rgba(240, 248, 255, 0.493);
}

#barra:hover {
    background-color: rgba(255, 255, 255, 0.24);
    width: 100%;
    padding: 5px;
}


.subir {
    position: relative;
    bottom: 20px;
}

#you {
    margin-bottom: 10px;
    
}

.you2 {
    position: relative;
    top: -4px;
}
